*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family:'futura';
    box-sizing: border-box;
    height:fit-content;
    width:100%;
    margin:0;
    padding:0;
    color:black;
    background-color: white;
}
.stack-area{
    width:100%;
    height:300vh;
    display:flex;
    position: relative;
    background: white;
}
.right{
  flex-basis: 50%;
  height:100vh;
  position: sticky;
  top:0;
}
.left{
    height: 100vh;
    flex-basis: 50%;
    position: sticky;
    top: 0;
    left: 0;
}
.left{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
}
.card{
  top: calc(50% - 175px);
  left: calc(50% - 175px);
  border-radius: 25px;
  width:350px;
  height:350px;
  position: absolute;
  padding:20px;
  margin-bottom: 10px;
  transition:0.5s ease-in-out;
}
.away{
 transform-origin: bottom left;
}
.mainlanding{
  display:flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.mainlanding button{
  width:10%;
}
.button{
  padding:10px;
  border-radius:25px;
  margin:30px;
  font-size:15px;
  font-weight: bold;
  color:white;
  background-color: black;

}
#headers{
  margin:20px;
  font-size:70px;
  text-align: center;
}
.para{
  font-size:25px;
  text-align: center;
  padding:30px;
}
#transpbutton{
  margin-bottom:70px;
  border-radius: 20px;
  padding:5px;
  color: purple;
  background: transparent;
  border: 2.5px solid rgba(255, 0, 255, 0.372);
}
.navbar{
  display:flex;
  list-style: none;
  padding:30px;
  margin:5px;
  justify-content: flex-end;
  position:sticky;
  top: 0;
  z-index: 1000;
  gap:10px;
}
.navbar ul{
  display: flex;
  gap:40px;
  list-style: none;
  padding:20px;
}
.navbar li{
  float:left;
}
