*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family:'futura';
    box-sizing: border-box;
    height:fit-content;
    width:100%;
    margin:0;
    padding:60px;
    color:black;
    background-color: white;
}
hr{
  opacity: 0.3;
}
.stack-area{
    width:100%;
    height:300vh;
    display:flex;
    position: relative;
    background: white;
}
.right{
  flex-basis: 50%;
  height:100vh;
  position: sticky;
  top:0;
}
.left{
    height: 100vh;
    flex-basis: 50%;
    position: sticky;
    top: 0;
    left: 0;
}
.left{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
}
.card{
  top: calc(50% - 175px);
  left: calc(50% - 175px);
  border-radius: 25px;
  width:350px;
  height:350px;
  position: absolute;
  padding:20px;
  margin-bottom: 10px;
  transition:0.5s ease-in-out;
}
.away{
 transform-origin: bottom left;
}
.card img{
 box-sizing: border-box;
 width:150px;
 height:auto;
}
.rightlanding {
  flex:1;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mainlanding{
  display:flex;
  flex-direction: row;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.button{
  display: flex;
  justify-content: center;
}
.rightlanding button{
  width:200px;
}
.imgsc{
  flex:1;
  min-width:0;
}
.imgsc img{
 width:100%;
 height:auto;
 display: block;
}
.mini-landing{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:100px;
  padding:30px;
  box-sizing: border-box;
  width: 90vw;
  height: 50vh;
}
.mini-landing ul li{
  list-style-type:circle;
  margin:10px;
  text-align: left;
}
.mini-landing p{
  font-size:20px;
  margin:10px;
  text-align: left;
}
.mini-landing h2{
  text-align: left;
  font-weight: 400px;
  font-size: 50px;
  margin-bottom: 20px;
}
.why{
  text-align: center;
  font-size: 40px;
  margin-top:30px;
}
.whyp{
  text-align: center;
  margin-bottom: 10px;
  margin-top:20px;
  font-size: 30px;
}
.btn{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 25px;
  flex-wrap: wrap;
}
.inner{
  width:500px;
  height:300px;
  border-radius: 25px;
  border: 0.1px solid rgb(150, 149, 149);
  padding:30px;
}
.button{
  padding:10px;
  border-radius:25px;
  margin-top:30px;
  font-size:15px;
  font-weight: bold;
  color:white;
  background-color: black;

}
#headers{
  margin:20px;
  font-size:50px;
  text-align: center;
}
.mainpara{
  font-size: 20px;
  text-align: center;
}
.para{
  font-size:20px;
  text-align: center;
  padding:10px;
}
#aboutT{
  text-align: center;
  margin-top:50px;
  font-size:50px;
}
.Cols{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding:30px;
  margin:40px;
  gap:30px;
}
.colsi{
    width: 350px;
    margin:20px;
    padding:30px;
    border:0.1px solid rgb(158, 155, 155);
    border-radius: 20px;
}
.colsi h2{
  margin:10px;
}
.colsi p{
  padding:10px;
  margin:10px;
}
.colsi h4{
  padding:10px;
}
.Class-bottom{
   display:flex;
    width:100%;
    justify-content: space-between;
}
.Class-bottom a{
  color:black;
}
.navbar{
  display:flex;
  list-style: none;
  padding:0;
  margin:0px;
  justify-content: center;
  position:sticky;
  top: 0;
  z-index: 1000;
  gap:10px;
}
.navbar ul{
  display: flex;
  gap:40px;
  list-style: none;
  padding:20px;
  margin-right: 50px;
}
.navbar ul:first-child{
  display: flex;
  justify-content: flex-start;
}
.navbar li{
  float:left;
}
