*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family:'futura';
    box-sizing: border-box;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    color:black;
    background-color: white;
}
.stack-area{
    width:100%;
    height:100vh;
    display:flex;
    background: white;
}
.right{
  flex-basis: 50%;
  height:100vh;
  position: relative;
}
.left{
  flex-basis: 50%;
  height:100vh;
  background-color: black;
}
.card{
  top: calc(50% - 175px);
  left: calc(50% - 175px);
  border-radius: 25px;
  width:350px;
  height:350px;
  position: absolute;
  padding:20px;
}
